body {
  margin: 0;
  font-family: sans-serif;
}

.pagina_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1630; /* fondo oscuro */
  padding: 10px 30px;
}

.seccion_1 {
  display: flex;
  height: 80vh;
}

.todo_2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.todo_2 h1{
  font-size: 66px;
  width: 387px;
}

.todo_2 p{
font-size: 22px;
width: 404px;

}

.js{
  background-image: url(/assets/hojasFondo.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  
}

.imagen_2{
  margin-top: 217px;
  margin-left: 165px;
  margin-bottom: 108px;
}


.todo_1 {
  display: flex;
  align-items: center;
  gap: 25px;
}
.todo_1 a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}
.todo_1 a:hover {
  color: white;
}


.boton_1 {
  background: linear-gradient(to right, #a64bf4, #3abefb);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}


.todo_2{
    background-color: #2e244f;
    color: white;
    
}

.todo_3{
  display: flex;
}

.boton_2{
    width: 157px;
    font-size: 17px;
    height: 40px;
}

.boton_3{
  width: 110px;
  font-size: 17px;
  height: 40px;
  background-color: #2e244f;
  color: white;
}




.seccion_1{
  background-color: #f2f3f7;
}
.titulo_2{
    font-size: 43px;
    color: #f51488;
    display: flex;
    justify-content: center;
}
.todo_3{
  display: flex;
  align-items: flex-start;
  gap: 40px; 
  margin-top: 20px;
  justify-content: center;
}

.imagen_3 {
  max-width: 425px;
  height: auto;
}

.texto_alpha {
  max-width: 500px;
}

.titulo_4{
  color: #c979a4;
}

.titulo_5{
color: #edafd2;
}

.titulo_6{
  font-size: 43px;
  display: flex;
  justify-content: center;
}

.seccion_3{
  background-color: #1e162e;
  
}



.texto_1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto_1 p{
  text-align: center;
  width: 60%;
  color: white;
}

.titulo_6{
  color: white;
}

.caja_1{
  background-color: white;
  color: #333;
  border-radius: 12px;
  padding: 30px 20px;
  width: 300px;
  text-align: center;
  height: 453px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.caja_2{
  background-color: white;
  color: #333;
  border-radius: 12px;
  padding: 30px 20px;
  width: 300px;
  text-align: center;
  height: 453px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.caja_3{
  background-color: white;
  color: #333;
  border-radius: 12px;
  padding: 30px 20px;
  width: 300px;
  text-align: center;
  height: 453px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.todo_5{
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}

.titulo_cja{
  font-size: 30px;
  color: #f51b8b;
}

.precio_1{
  font-size: 24px;
  background-color: #f5f5f5;
}